body {
    margin: 0;
    background: antiquewhite;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.user {
    width: 40vw;
    height: 150px;
    background: goldenrod;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: darkblue;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}
.a_user {
    text-decoration: none;
    color: goldenrod;
}
.user_btn {
    background: darkcyan;
}
